.gearGrid {
    /* font-family: Comic Sans MS, Comic Sans, cursive; */
    background-color: mediumseagreen;
    /* color: black; */
    border-radius: 10px;
    /* margin: 10px;
    padding: 30px; */
}